{% extends 'userbase.html' %}

{% block title %}Change Password{% endblock %}

{# Set the active page to be highlighted in the navigation bar. #}
{% set active_page = 'user_profile' %}

{% block content %}

<section class="container py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <h1>Update Password</h1>
            <p class="lead text-muted">Hi, <strong>{{ session['username']}}</strong>:
                <br>Please update your password below</p>
        </div>
    </div>

    <div class="row justify-content-center text-start">
        <div class="col-md-6 col-lg-5 p-4">
                <form class="p-3" action="{{ url_for('change_password') }}" method="POST">

                    <div class="mb-3">
                        <label for="current_password" class="form-label">Current Password</label>
                        <input type="password" class="form-control{% if current_password_error %} is-invalid{% endif %}" id="current_password" name="current_password" placeholder="Enter your current password..." aria-describedby="passwordHelp" required>
                        <div id="passwordHelp" class="form-text" style="font-size: 15px;text-align: left;"></div>
                        <div class="invalid-feedback">{{ current_password_error }}</div>
                    </div>

                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" class="form-control{% if new_password_error %} is-invalid{% endif %}" id="new_password" name="new_password" placeholder="Choose a password..." aria-describedby="passwordHelp" required>
                        <div id="passwordHelp" class="form-text" style="font-size: 15px;text-align: left;">
                            <p >*Your password must be at least 8 characters long.</p>
                            <p>*Your password must include at least one uppercase letter, one lowercase letter, and one special character</p>

                        </div>
                        <div class="invalid-feedback">{{ new_password_error }}</div>
                    </div>

                    <div class="mb-3">
                        <label for="new_confirm_password" class="form-label">Confirm your Password</label>
                        <input type="password" class="form-control{% if new_confirm_password_error %} is-invalid{% endif %}" id="new_confirm_password" name="new_confirm_password" aria-describedby="passwordHelp" required>
                        <div id="confirmpasswordHelp" class="form-text" style="font-size: 15px;"> Please re-enter your password to confirm</div>
                        <div class="invalid-feedback">{{ new_confirm_password_error }}</div>
                    </div>
                <div class="text-center d-flex justify-content-center gap-2">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
                </form>
                {% if password_updated %}
                <div class="bg-success text-white border border-top-0 rounded-bottom text-center">
                    <div class="p-2" style="font-size: 25px;">You have successfully updated your password! </div>
                </div>
                {% endif %}
        </div>
    </div>
</section>

{% endblock %}