<!-- journeys_feed.html -->
{% extends 'userbase.html' %}

{% block title %}Journeys Feed{% endblock %}

{% block content %}
<div class="container">
    
    {% for journey in journeys_feed %}
    <div class="border rounded bg-white p-5 m-3 text-start">

        <!-- Journey Header -->
        <div class="d-flex align-items-center mb-3">
            <img src="{{ url_for('static', filename='profile_images/' + journey.user.avatar) if journey.user.avatar else url_for('static', filename='profile_images/default.jpg') }}" 
                 style="width:50px; height:50px; border-radius:50%; margin-right:10px;">
            <div class="user-block lh-1">
                <h5 class="mb-0">{{ journey.user.name }}</h5>
                <h6 class="text-secondary fw-lighter fs-5 mb-o blockquote">User description</h6>
                <h6 class="text-secondary fw-lighter fs-6 mb-o blockquote-footer">{{ journey.start_date.strftime('%d %b %Y') }}</h6>
            </div>
        </div>

            <!-- Events List -->
            <div class="mt-3 px-3 border border-3 border-primary">
                <div class="row row-cols-1 row-cols-md-3 g-4">  <!-- Grid system -->
                    {% for event in journey.events %}
                    <div class="col">  <!-- Grid column -->
                        <div class="text-center">  <!-- Mobile centering -->
                            <h6 class="mt-2">
                                {{ event.title }}
                                {% if event.location %}<br><small>- {{ event.location }}</small>{% endif %}
                            </h6>
                            {% if event.image %}
                                <img src="{{ url_for('static', filename='event_images/' + event.image) }}" 
                                    class="event-thumbnail mt-2 w-100">  <!-- Responsive images -->
                            {% else %}
                                <img src="{{ url_for('static', filename='event_images/event_default.jpg') }}" 
                                    class="event-thumbnail mt-2 opacity-50 w-100">
                            {% endif %}
                            
                            <h6>
                                {{ event.description}}
                            </h6>
                                
                            
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 text-center">
                        <h6>No events have been added yet</h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div>
    {% else %}
    <p>No public journeys found</p>
    {% endfor %}
</div>

{% endblock %}