{% extends 'userbase.html' %}

{% block content %}
<!-- View and edit journey -->
<div class="card mb-4">
    <h3 class='p-4 card-header '>Journey Details</h3>
    <!-- flash Messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="card-body">
        <form method="post" novalidate>
            <div class="mb-3">
                <label for="journey_title" class="form-label">Journey Title</label>
                <input type="text" {% if not is_owner%} disabled {% endif %} class="form-control {% if journey_title_error %} is-invalid{% endif %}" id="journey_title" name="journey_title" value="{{ journey_title }}" required>
                <div class="invalid-feedback">{{ journey_title_error }}</div>
            </div>
            <!-- add start date-->
            <div class="mb-3">
                <label for="journey_start_date" class="form-label">Start Date</label>
                <input type="date" {% if not is_owner%} disabled {% endif %}  class="form-control {% if journey_start_date_error %} is-invalid{% endif %}" id="journey_start_date" name="journey_start_date" value="{{ journey_start_date }}"  required>
                <div class="invalid-feedback">{{ journey_start_date_error }}</div>
            </div>
            <div class="mb-3">
                <label for="journey_description" class="form-label">Journey Description</label>
                <textarea class="form-control {% if journey_description_error %} is-invalid{% endif %}" {% if not is_owner%} disabled {% endif %} id="journey_description" name="journey_description" required>{{ journey_description }}</textarea>
                <div class="invalid-feedback">{{ journey_description_error }}</div>
            </div>
            {% if is_owner %}
            <!-- add checkbox to set public-->
             <div  class="mb-3 ">
                <label for="role" class="form-label">Status</label>
                <select class="form-select" id="role" name="journey_status" required>
                    <option value="public" {% if journey_status == 'public' %} selected {% endif %}>Public</option>
                    <option value="private" {% if journey_status == 'private' %} selected {% endif %}>Private</option>
                </select>
            </div>
    
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href='/my_journeys' class="btn btn-secondary">Cancel</a>
            </div>
            {% endif %}
        </form> 
    </div>
</div>

{% if is_owner %}
<form action="{{url_for('delete_journey', journey_id = journey_id)}}" method="POST"
                        onsubmit="return confirm('Are you sure you want to delete this journey and any events related to it?')"
                        style="display: inline-flex;">
                <button type="submit" class="btn btn-danger">Delete Journey</button> 
</form>
<a href="{{ url_for('my_journeys') }}" class="btn btn-secondary">Back to My Journeys</a>
<a href="{{ url_for('add_event', journey_id=journey_id) }}" class="btn btn-secondary">Add Event</a>
{% else %}
<a href="{{ url_for('public_journeys') }}" class="btn btn-secondary">Back to Public Journeys</a>
{% endif %}

<!-- Display events -->
<div class="card mb-4">
    <h3 class='p-4 card-header '>Events</h3>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Event Date Time</th>
                    <th scope="col">Event Title</th>
                    <th scope="col">Event Location</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% if events %}
            <tbody>
                {% for ee in events %}
                <tr>
                    <td>{{ ee.start_date }}</td>
                    <td>{{ ee.event_title }}</td>
                    <td>{{ ee.event_location }}</td>
                    <td>View</td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <p>No events found for this journey.</p>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
