{% extends 'userbase.html' %}

{% block title %}Timbuktu {{ session['role']|capitalize }} Dashboard{% endblock %}

{% set active_page = 'home' %}

{% block content %}
<h3 class="text-lg-start ms-lg-3">Dashboard</h3>

<section class="container py-3 text-start">
    <div class="row justify-content-top">
        <div class="col-lg-10">
            <p class="lead text-pale">
                Hi <strong class="fw-bold text-dark-forest">{{ session['username'] }}</strong>,<br>
                Welcome to Timbuktu dashboard.<br>
                You are logged on as a <strong class="fw-bold text-dark-forest">{{ session['role']|capitalize }}</strong>.<br>
                Please, use the options in the navbar to navigate the app.<br>
                Enjoy!
            </p>
        </div>
    </div>
</section>
{% endblock %}