{% extends 'userbase.html' %}
{% block title %}Manage Users{% endblock %}

{% block content %}
<style>.flash-container {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    display: none; 
}

.success {
    border-left: 6px solid #28a745;
    color: #155724;
    background-color: #d4edda;
}

.error {
    border-left: 6px solid #dc3545;
    color: #721c24;
    background-color: #f8d7da;
}
</style>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>List of all users</h1>

<table>
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th class="px-3">Last Name</th>
        <th>Role</th>
        <th>Status</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td class="px-3">{{ user.last_name }}</td>
        <td><form method="POST" action="{{ url_for('change_user_role', user_id=user.user_id) }}"class="d-flex">
            <select name="new_role" class="form-select" onchange="this.form.querySelector('button').disabled = false;">
                <option value="">Remove Role</option> 
                <option value="traveller" {% if user.role == 'traveller' %}selected{% endif %}>Traveller</option>
                <option value="editor" {% if user.role == 'editor' %}selected{% endif %}>Editor</option>
                <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
            </select>
            <button type="submit" class="btn btn-warning mt-2 ms-2" disabled>Change Role</button>
        </form></td>
        <td><form method="POST"  action="{{ url_for('change_user_status', user_id=user.user_id) }}"class="d-flex">
            <select name="new_status" class="form-select" onchange="this.form.querySelector('button').disabled = false;">
                <option value="active" {% if user.status == 'active' %}selected{% endif %}>Active</option>
                <option value="blocked" {% if user.status == 'blocked' %}selected{% endif %}>Blocked</option>
                <option value="banned" {% if user.status == 'banned' %}selected{% endif %}>Banned</option>
            </select>
            <button type="submit" class="btn btn-warning mt-2 ms-2" disabled>Change Status</button>
        </form></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}